@import "variables";

.creators {
    width: 315px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creators__projects,
.creators__platforms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.creators__projectsTitle,
.creators__platformsTitle {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.04em;
    font-variant: all-small-caps;
    color: rgba(255, 255, 255, 0.3);
}

.creators__platformsTitle {
    width: 100%;
}

@media (min-width: $desktop-width) {
    .creators {
        width: 766px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .creators__projects {
        width: 435px;
    }

    .creators__image {
        width: 160px;
        height: 160px;
    }

    .creators__projectsTitle,
    .creators__platformsTitle {
        font-size: 36px;
        line-height: 35px;
    }

    .creators__platforms {
        width: 273px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .creators__platformsTitle {
        display: flex;
        order: 1;
        justify-content: center;
        margin-bottom: 68px;
    }

    .creators__platformsBinance {
        display: flex;
        order: 3;
        width: 225px;
        height: 45px;
        justify-content: center;
    }

    .creators__platformsKucoin {
        display: flex;
        order: 2;
        width: 181px;
        height: 41px;
        justify-content: center;
        margin-bottom: 39px;
    }
}