// fonts

// Inter
@font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-Regular.woff2") format("woff2"),
        url("../public/fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-Bold.woff2") format("woff2"),
        url("../public/fonts/Inter-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


// Roboto
@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Regular.woff2") format("woff2"),
        url("../public/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Medium.woff2") format("woff2"),
        url("../public/fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Bold.woff2") format("woff2"),
        url("../public/fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto-Black.woff2") format("woff2"),
        url("../public/fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    min-width: 390px;
    font-family: "Roboto", "Tahoma", sans-serif;
    background: url(../public/pattern@1x.png), #2B2B2B;
}


// swiper arrows
:root {
    --swiper-navigation-color: #ffffff;
  }